DATABASE_URL="mysql://root@localhost:3306/bbg_company"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-before-production"
APP_URL="http://localhost:3000"
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NOTIFICATION_EMAIL_WEBHOOK_URL=""
NOTIFICATION_EMAIL_WEBHOOK_SECRET=""
SEED_CLIENT_EMAIL="client@bbg-company.fr"
SEED_CLIENT_PASSWORD="Client123!"
SEED_ADMIN_EMAIL="admin@bbg-company.fr"
SEED_ADMIN_PASSWORD="Admin123!"
SEED_MANAGER_EMAIL="manager@bbg-company.fr"
SEED_MANAGER_PASSWORD="Manager123!"
